{% include 'editquiznavigation.html' %}
{% load static %}
<div class="quiz-maincontainer">
    {% include 'settings/settingsidebar.html' %}
    <div class="quiz-mainplayground">
        <form method="post">
            {% csrf_token %}
            <div class="quiz-settings-container">
                <h2 class="quiz-settings-title">General Quiz Settings</h2>
                <div id="general-settings" class="quiz-group">
                    <h3 class="quiz-group-title">Quiz Information</h3>
                    <div class="quiz-settings-item">
                        <label for="">Quiz Title:</label>
                        {{quizform.quiztitle}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Quiz Description:</label>
                        {{quizform.quizdescription}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Quiz Slug:</label>
                        {{quizform.quizslug}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Show Quiz Title and Description at Quiz:</label>
                        {{quizform.showquizdetails}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Time Limit (In Minutes):</label>
                        {{quizform.quiztimelimit}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Published:</label>
                        {{quizform.ispublished}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Scored:</label>
                        {{quizform.isscored}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Total Score:</label>
                        {{quizform.totalscore}}
                    </div>
                    <div class="quiz-settings-item">
                        <label for="">Passing score:</label>
                        {{quizform.passingscore}}
                    </div>
                </div>
                {% if errors %}
                <ul class="errorlist">
                    {% for field_error in errors %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="quiz-action-button-container">
                    <button class="quiz-action-button">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>