{% include 'editquiznavigation.html' %}
{% load static %}
<div class="quiz-maincontainer">
    {% include 'settings/settingsidebar.html' %}
    <div class="quiz-mainplayground">
        <div class="quiz-settings-container">
            <h2 class="quiz-settings-title">General Quiz Settings</h2>
            <div id="quiz-taker-settings" class="quiz-group">
                <div class="quiz-group-title">Quiz Taker Information</div>
                <div class="quiz-settings-item">
                    <label for="nameField">Name</label>
                    <div class="quiz-settings-field">
                        <input type="checkbox" id="nameField">
                        <label for="nameField">Collect Name</label>
                    </div>
                </div>
                <div class="quiz-settings-item">
                    <label for="emailField">Email</label>
                    <div class="quiz-settings-field">
                        <input type="checkbox" id="emailField">
                        <label for="emailField">Collect Email</label>
                    </div>
                </div>
                <div class="quiz-settings-item">
                    <label>Information Collection</label>
                    <div class="quiz-settings-field">
                        <input type="radio" id="startQuiz" name="infoCollection">
                        <label for="startQuiz">Collect at Start</label>
                        <input type="radio" id="endQuiz" name="infoCollection">
                        <label for="endQuiz">Collect at End</label>
                    </div>
                </div>
            </div>
            <div class="quiz-action-button-container">
                <button class="quiz-action-button">Save</button>
            </div>
        </div>
    </div>
</div>