{% include 'editquiznavigation.html' %}
{% load static %}
<div class="quiz-maincontainer">
    {% include 'settings/settingsidebar.html' %}
    <div class="quiz-mainplayground">
        <div class="quiz-settings-container">
            <h2 class="quiz-settings-title">General Quiz Settings</h2>
            <div id="question-settings" class="quiz-group">
                <h3 class="quiz-group-title">Randomization</h3>
                <div class="quiz-settings-item">
                    <label for="randomizeQuestions">Randomize Questions:</label>
                    <input type="checkbox" id="randomizeQuestions" name="randomization">
                </div>
                <div class="quiz-settings-item">
                    <label for="">Shuffle Answers:</label>
                    <input type="checkbox" name="" id="">
                </div>
                <h3 class="quiz-group-title">Attempts and Feedback</h3>
                <div class="quiz-settings-item">
                    <label for="">Allow Multiple Attempts:</label>
                    <input type="checkbox">
                </div>
                <div class="quiz-settings-item">
                    <label for="">Display Score at the end:</label>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="quiz-settings-item">
                    <label for="">Show Correct Answer:</label>
                    <input type="checkbox" name="" id="">
                </div>
                <h3 class="quiz-group-title">Question Navigation</h3>
                <div class="quiz-settings-item">
                    <label for="">Allow Skipping Questions:</label>
                    <input type="checkbox">
                </div>
                <div class="quiz-settings-item">
                    <label for="">Allow Backtracking:</label>
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="quiz-action-button-container">
                <button class="quiz-action-button">Save</button>
            </div>
        </div>
    </div>
</div>