<div class="quiz-sidebar-questioncontainer">
    <div class="quiz-sidebar">
        <div class="quiz-sidebar-item" data-section="general"><a href="{% url 'quizgeneralsettings' quiz.id %}">General</a></div>
        <div class="quiz-sidebar-item" data-section="security"><a href="{% url 'quizsecuritysettings' quiz.id %}">Security</a></div>
        <div class="quiz-sidebar-item" data-section="question"><a href="{% url 'quizquestionsettings' quiz.id %}">Questions</a></div>
        <div class="quiz-sidebar-item" data-section="quiz-taker"><a href="{% url 'quizinformationsettings' quiz.id %}">Quiz Taker Information</a></div>
    </div>
</div>