{% include 'editquiznavigation.html' %}
{% load static %}
<div class="quiz-maincontainer">
    <div class="quiz-sidebar-questioncontainer">
        <h3 class="quiz-sidebar-title">
            <button id="toggleAddQuestion" class="quiz-collapsible-btn" onclick="toggleAddQuestion()">
                <i class="fas fa-plus" id="addQuestionIcon"></i> Add questions
            </button>
        </h3>
        <div class="quiz-question-buttons" id="addQuestionSection">
            <form action="{% url 'addquestion' id %}" method="post">
                {% csrf_token %}
                <button class="quiz-question-button" name="addquestion" value="single_choice">Single Choice</button>
                <button class="quiz-question-button" name="addquestion" value="multiple_choice">Multiple Choice</button>
                <button class="quiz-question-button" name="addquestion" value="short_answer">Short Answer</button>
                <button class="quiz-question-button" name="addquestion" value="long_answer">Long Answer</button>
                <button class="quiz-question-button" name="addquestion" value="yes_no">Yes/No</button>
            </form>
        </div>
        <h3 class="quiz-sidebar-title">Quiz questions</h3>
        <div class="quiz-question-list" id="sortableQuestionsList" style="height: 75%;">
            {% for question in allQuestions %}
            <div class="quiz-question {% if question.id|add:'0' == question_forms.0.instance.pk|add:'0' %}active{% endif %}" data-questionid="{{question.id}}">
                <img src="{% static 'images/drag-drop.png' %}" alt="" class="quiz-question-drag-drop" width="15px"><a href="{% url 'editquestion' id question.id %}" class="quiz-question-text"><div>Q{{forloop.counter}} {{question.title|safe}}</div></a>
                <form method="post" action="{% url 'deletequestion' question.id %}">
                    {% csrf_token %}
                    <div class="quiz-question-actions">
                        <button class="quiz-question-delete"><i class="fas fa-trash"></i></button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="quiz-mainplayground">
        <div class="quiz-details-panel">
            {% with 'quizgeneralsettings' as settingsurl %}
            <h3>{{quiz.quiztitle}} <i onclick="location.href='{% url settingsurl quiz.id %}'" class="fas fa-pencil" {% if not question_forms %} style="display: inline-block;opacity: 1;" {% endif %}></i></h3>
            <p>{{quiz.quizdescription}} <i onclick="location.href='{% url settingsurl quiz.id %}'" class="fas fa-pencil" {% if not question_forms %} style="display: inline-block;opacity: 1;" {% endif %}></i></p>
            {% endwith %}
        </div>
        {% if question_forms %}
        <form method="post">
        {% csrf_token %}
        <div class="quiz-question-container">
            <textarea name="{{ question_forms.0.title.html_name }}" id="textarea-{{question_forms.0.title.html_name}}">{{question_forms.0.title.value}}</textarea>
            <div class="quiz-question-title" contenteditable="true" id="{{question_forms.0.title.html_name}}" onblur="updateContent(this.id,this)">{{question_forms.0.title.value|safe}}</div>{{ question_forms.0.question_type }}
            {% if questions.question_type == 'single_choice' %}
            <div class="quiz-question-message">Note: By selecting the answer, you are designating it as the correct answer.</div>
            <div class="quiz-answer-list">
                {{ answerforms.management_form }}
                {% for hidden in answerforms.form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in answerforms %}
                {{field.id}}
                <div class="quiz-answer-card">
                    <input type="checkbox" name="{{ field.is_correct.html_name }}" id="{{ field.content.id_for_label }}" {% if field.is_correct.value %}checked{% endif %} onchange="SingleChoiceQuestionSelection(this.id)">
                    <label for="{{ field.content.id_for_label }}" class="quiz-answer-content">
                        <span class="icon"><i class="fas fa-circle"></i></span>
                        <textarea name="{{field.content.html_name}}" id="textarea-{{field.content.html_name}}" cols="30" rows="10">{{field.content.value}}</textarea>
                        <span contenteditable="true" id="{{field.content.html_name}}" onblur="updateContent(this.id,this)">{{field.content.value|safe}}</span>
                        {% with 'deleteanswer' as deleteanswer %}
                        <i class="fas fa-trash" onclick="location.href='{% url deleteanswer quiz.id questions.id field.instance.id %}'"></i>
                        {% endwith %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <br>
            {% with 'addanswer' as addanswer %}
            <button type="button" class="quiz-question-button" style="width: auto;" onclick="location.href='{% url addanswer quiz.id questions.id %}'">+ Add Answer</button>
            {% endwith %}
            {% endif %}
            {% if questions.question_type == 'multiple_choice' %}
            <div class="quiz-question-message">Note: By selecting the answer, you are designating it as the correct answer.</div>
            <div class="quiz-answer-list">
                {{ answerforms.management_form }}
                {% for hidden in answerforms.form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in answerforms %}
                {{field.id}}
                <div class="quiz-answer-card">
                    <input type="checkbox" name="{{ field.is_correct.html_name }}" id="{{ field.content.id_for_label }}" {% if field.is_correct.value %}checked{% endif %}>
                    <label for="{{ field.content.id_for_label }}" class="quiz-answer-content">
                        <span class="icon"><i class="fas fa-check-square"></i></span>
                        <textarea name="{{field.content.html_name}}" id="textarea-{{field.content.html_name}}" cols="30" rows="10">{{field.content.value}}</textarea>
                        <span contenteditable="true" id="{{field.content.html_name}}" onblur="updateContent(this.id,this)">{{field.content.value|safe}}</span>
                        {% with 'deleteanswer' as deleteanswer %}
                        <i class="fas fa-trash" onclick="location.href='{% url deleteanswer quiz.id questions.id field.instance.id %}'"></i>
                        {% endwith %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <br>
            {% with 'addanswer' as addanswer %}
            <button type="button" class="quiz-question-button" style="width: auto;" onclick="location.href='{% url addanswer quiz.id questions.id %}'">+ Add Answer</button>
            {% endwith %}
            {% endif %}
            {% if questions.question_type == 'yes_no' %}
            <div class="quiz-answer-list">
                <div class="quiz-answer-card">
                    <input type="radio" name="answer" value="True" id="true" {% if 'True' in questions.correct_answer %} checked {% endif %}>
                    <label for="true" class="quiz-answer-content">
                        <span class="icon"><i class="fas fa-dot-circle"></i></span>
                        Yes
                    </label>
                </div>
                <div class="quiz-answer-card">
                    <input type="radio" name="answer" value="False" id="false" {% if 'False' in questions.correct_answer %} checked {% endif %}>
                    <label for="false" class="quiz-answer-content">
                        <span class="icon"><i class="fas fa-dot-circle"></i></span>
                        No
                    </label>
                </div>
            </div>
            {% endif %}
            {% if questions.question_type == 'short_answer' %}
                <textarea class="quiz-essay-answer" placeholder="Placeholder text...." name="answer" rows="2">{{questions.placeholder}}</textarea>
            {% endif %}
            {% if questions.question_type == 'long_answer' %}
                <textarea class="quiz-essay-answer" placeholder="Placeholder text...." name="answer" rows="10">{{questions.placeholder}}</textarea>
            {% endif %}
        </div>
        <div class="quiz-action-button-container">
            <button class="quiz-action-button">Save</button>
        </div>
        </form>
        {% else %}
        <div class="quiz-noquestion-selected">
            {% if allQuestions|length > 0 %}
                <p>You can edit the questions using the sidebar or by clicking <a href="{% url 'editquestion' quiz.id allQuestions.0.id %}">here</a>.</p>
            {% else %}
                <p>You don't have any questions to edit. You can add questions by selecting the question type you want to add:</p>
                <form action="{% url 'addquestion' id %}" method="post" style="width: 20%;">
                    {% csrf_token %}
                    <button class="quiz-question-button" name="addquestion" value="single_choice">Single Choice</button>
                    <button class="quiz-question-button" name="addquestion" value="multiple_choice">Multiple Choice</button>
                    <button class="quiz-question-button" name="addquestion" value="short_answer">Short Answer</button>
                    <button class="quiz-question-button" name="addquestion" value="long_answer">Long Answer</button>
                    <button class="quiz-question-button" name="addquestion" value="yes_no">Yes/No</button>
                </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="quiz-sidebar-otherquizzes">
        <h3 class="quiz-sidebar-title">Other quizzes</h3>
        <ul class="quiz-quiz-list">
            {% for quiz in quizzes %}
                <li class="quiz-quiz-item">{{quiz.quiztitle}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    function SingleChoiceQuestionSelection(id) {
        var element=document.querySelectorAll('[type="checkbox"]')
        for (let index = 0; index < element.length; index++) {
            const elem = element[index];
            if (elem.checked === true && elem.id === id){
                elem.checked = true;
                } else {
                elem.checked = false;
            }
        }
    }
    Sortable.create(sortableQuestionsList, {
        animation: 150
    });
    var dragableElement=document.getElementById("sortableQuestionsList")
    dragableElement.addEventListener("dragend",function(){
        var items = Array.from(dragableElement.querySelectorAll('.quiz-question'))
        .map((elem,index)=>{
            return {
                index: index,
                element: elem.dataset.questionid
            }
        })
        var CSRFToken = document.querySelector("input[name='csrfmiddlewaretoken']").value
        var url = '{% url "reorderquestions" %}'
        var data={
            order : items
        }
        fetch(url,
        {
            method:'post',
            headers:{
                'Content-Type' : 'application/json',
                'X-CSRFToken' : CSRFToken,
            },
            body:JSON.stringify(data),
        })
        .then((response)=>{
            console.log(response);
        })
        .catch((err)=>{
            console.error(err)
        })
    })
</script>