{% include 'editformnavigation.html' %}
{% load static %}
<div class="form-maincontainer">
    {% include 'settings/settingsidebar.html' %}
    <div class="form-mainplayground">
        <form method="post">
            {% csrf_token %}
            <div class="form-settings-container">
                <h2 class="form-settings-title">General Form Settings</h2>
                <div id="general-settings" class="form-group">
                    <h3 class="form-group-title">Form Information</h3>
                    <div class="form-settings-item">
                        <label for="">Form Title:</label>
                        {{formform.formtitle}}
                    </div>
                    <div class="form-settings-item">
                        <label for="">Form Description:</label>
                        {{formform.formdescription}}
                    </div>
                    <div class="form-settings-item">
                        <label for="">Form Slug:</label>
                        {{formform.formslug}}
                    </div>
                    <div class="form-settings-item">
                        <label for="">Show Form Title and Description at Form:</label>
                        {{formform.showformdetails}}
                    </div>
                    <div class="form-settings-item">
                        <label for="">Published:</label>
                        {{formform.ispublished}}
                    </div>
                </div>
                {% if errors %}
                <ul class="errorlist">
                    {% for field_error in errors %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="form-action-button-container">
                    <button class="form-action-button">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>