<div class="form-sidebar-questioncontainer">
    <div class="form-sidebar">
        <div class="form-sidebar-item" data-section="general"><a href="{% url 'formgeneralsettings' form.id %}">General</a></div>
        <div class="form-sidebar-item" data-section="security"><a href="{% url 'formsecuritysettings' form.id %}">Security</a></div>
        <div class="form-sidebar-item" data-section="form-taker"><a href="{% url 'forminformationsettings' form.id %}">Form Taker Information</a></div>
    </div>
</div>