/* Font Family */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* Navbar */
.form-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.form-navbarbranding {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-navbartitle {
  display: flex;
  gap: 40px;
}

.form-navbartabs {
  cursor: pointer;
}

.form-navbartabs a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Main Container */
.form-maincontainer {
  display: flex;
  margin-top: 10px;
  height: 90vh;
}

.form-create-new-button{
  border: none;
  border-radius: 4px;
  background-color: #333;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-create-new-button:hover{
  background-color: #555;
}

.form-form-table {
  width: 100%;
  border-collapse: collapse;
  height: fit-content;
}

.form-form-table th,
.form-form-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.form-form-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  text-align: left;
}

.form-form-table td {
  text-align: center;
}

.form-form-table td a{
  text-decoration: none;
  color: #007bff;

}

.form-form-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.form-form-table tr:hover {
  background-color: #ebebeb;
}

.form-form-table form{
  margin: 0;
}

.form-form-table .form-action-button {
  display: inline-block;
  width: 80px;
  padding: 8px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.form-form-table .form-action-button:hover {
  background-color: #555;
}

/* Sidebar */
.form-sidebar-questioncontainer {
  width: 300px;
  background-color: #f1f1f1;
  padding: 10px;
}

.form-question-buttons {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  max-height: 0;
  transition: all0.3s ease;
  overflow: hidden;
}

.form-question-buttons.show {
  max-height: 1000px;
  transition: all 0.3s ease;
}

.form-question-button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-question-button:hover {
  background-color: #555;
}

.form-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.form-question.active{
  background-color: #007bff;
}

.form-question.active a,.form-question.active .fas{
  color: white !important;
}

.form-question-drag-drop{
  opacity: 0;
  transition: 0.3s;
}

.form-question:hover .form-question-drag-drop{
  opacity: 0.8;
}

.form-question form{
  margin: 0;
  margin-left: auto;
}

.form-question-text{
  text-decoration: none;
  color: #333;
}

.form-question-actions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.form-question-actions button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-question-actions button i {
  color: black;
}

.form-question-actions button:hover {
  background-color: #f5f5f5;
}

/* Main Playground */
.form-mainplayground {
  flex: 1;
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow: auto;
}

.form-question-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-question-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  outline: none;
}

.form-question-title:hover {
  border-bottom: 1px dotted #ccc;
}

.form-question-title:focus {
  border-bottom: 1px solid black;
}

.form-question-container textarea:not(.form-essay-answer),
.form-question-container select{
  display: none;
}

.form-question-message {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.form-answer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-answer-card {
  display: flex;
  align-items: center;
}

.form-answer-card input[type="radio"],
.form-answer-card input[type="checkbox"] {
  display: none;
}

.form-answer-card .form-answer-content {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.form-answer-card .form-answer-content .icon {
  width: 20px;
  height: 20px;
}

.form-answer-content span {
  outline: none;
  width: 100%;
}

.form-essay-answer {
  height: auto;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  resize: none;
}

.form-answer-card input[type="radio"]:checked+.form-answer-content,
.form-answer-card input[type="checkbox"]:checked+.form-answer-content {
  border-color: #007bff;
  background-color: #e6f7e2;
}

.form-answer-card .form-answer-content:hover {
  border-color: #ccc;
}

/* Sidebar - Other Forms */
.form-sidebar-otherforms {
  width: 200px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-form-list {
  list-style-type: none;
  padding-left: 0;
}

.form-form-item {
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.form-collapsible-btn {
  background-color: #f1f1f1;
  color: #333;
  padding: 8px 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-collapsible-content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.form-collapsible-content.show {
  max-height: 500px;
}

/* Buttons */
.form-action-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-action-button:hover {
  background-color: #555;
}

.form-question-edit,
.form-question-delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.form-question-edit:hover,
.form-question-delete:hover {
  background-color: #333;
}

.form-navbarcreateform {
  margin-right: 20px;
}

.form-createform-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-createform-button:hover {
  background-color: #555;
}

.message-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.message {
  padding: 10px 20px;
  border-radius: 5px;
}


.error-message,
.success-message {
  opacity: 0;
  transition: all 0.5s ease;
}

.error-message.show,
.success-message.show {
  opacity: 1;
}

.success-message {
  background-color: #c5e1a5;
  color: #2e7d32;
}

.error-message {
  background-color: #ffcdd2;
  color: #c62828;
}

.form-details-panel {
  background-color: #f1f1f1;
  padding: 0px 20px;
}

.form-details-panel h3:hover i,
.form-details-panel p:hover i{
  opacity: 1;
}

.form-details-panel h3 i,
.form-details-panel p i{
  margin-left: 10px;
  border-radius: 50%;
  padding: 5px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-details-panel h3 i:hover,
.form-details-panel p i:hover{
  background-color: #ccc;
}

.form-noquestion-selected{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column;
  gap: 20px;
}

.take-form{
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 20px;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}