/* Reset some default browser styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Form container */
.form-container {
    max-width: 800px;
    margin: 10px auto 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Form header */
.form-header {
    position: relative;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-header h1 {
    font-size: 24px;
    margin: 0;
}

.form-details {
    font-size: 16px;
    margin: 5px 0;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure the header is above other content */
    transition: all 0.3s ease;
}


/* Form questions */
.question {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Answer options */
.answer {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.answer-label {
    margin-right: 10px;
}

.long-answer,.short-answer {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

/* Submit button */
.submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Styling for radio and checkbox inputs */
input[type="radio"],
input[type="checkbox"] {
    margin-top: 0px;
    margin-right: 5px;
    cursor: pointer;
}

.form-user-info{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgb(238, 238, 238)
}

.form-user-info table{
    border-spacing: 10px 20px;
    width: 50%;
    min-width: 350px;
}

.form-user-info table input{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(167, 165, 165);
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .form-container {
        padding: 10px;
    }

    .question {
        padding: 15px;
    }

    .answer-label {
        font-size: 14px;
    }
}
